body
{
    background-color: bisque;
}
section
{
    margin: auto;
    width: 900px;
}
h1,h2
{
    text-align: center;
}
img
{
    border-radius: 5px;
    width:300px;
}
.image
{
    text-align: center;
}

footer
{
    border-top: 2px solid black;
    text-align: center;
}
#social-pictures
{
    display: flex;
    justify-content: space-around;
}

#social-pictures img
{
    width : 70px;
}